.App {
  height: 100dvh;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 400px 1fr;
  background-color: var(--darker);
}

.page {
  overflow-y: auto;
  margin: 10px 10px 10px 0;
  border: 1px solid #333;
  background-color: var(--dark);
}

@media screen and (max-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .page {
    overflow-y: visible;
    margin: 0;
    border: none;
  }
}